In [1]:
def test(*args):
    return args

In [2]:
def test2(*viji):
    return viji

In [3]:
test2(2,5,4,[1.23,5,4,8])

(2, 5, 4, [1.23, 5, 4, 8])

In [7]:
def test3(*viji , a = 54):
    return viji,a

In [8]:
test3(4,54,6)

((4, 54, 6), 54)

In [9]:
def test3(a , *viji):
    return a , viji

In [10]:
test3("kumar",5,6,8)

('kumar', (5, 6, 8))

In [28]:
def check_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            
            l.append(i)
    return l

In [29]:
check_list([2,5,6,4],5,6,8,["viji","kumar"])

[[2, 5, 6, 4], ['viji', 'kumar']]

In [30]:
def test7(**kwargs):
    return kwargs

In [36]:
test7(a = 3,b = [4,56,234])

{'a': 3, 'b': [4, 56, 234]}

In [37]:
def test9(**viji):
    return viji

In [38]:
test9(name = "viji" , age = 21 , phNo = "39527")

{'name': 'viji', 'age': 21, 'phNo': '39527'}

In [41]:
def test12(*args, a , **kwargs):
    return a , args , kwargs

In [43]:
test12(56,78,a = 40,t = 78,v = 45)

(40, (56, 78), {'t': 78, 'v': 45})

In [44]:
#lambda is anonumus func

In [46]:
a = lambda a , b :a*b

In [47]:
a(2,5)

10

In [48]:
a = lambda **kwargs: kwargs.values()

In [49]:
a(a = 456, b = 56)

dict_values([456, 56])

In [59]:
c = 10 #global value
def test16(c , d):
    c=5 # local value
    return c*d

In [58]:
test16(10,50)

250

In [60]:
c

10

In [61]:
l = [1,2,5,6,45,69]

In [63]:
[i+2 for i in l if i<4]

[3, 4]

In [64]:
{i:i**2for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [67]:
d = {}
for i in range(1,10):
    d[i] = i**2

In [68]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [71]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)