# If Else

In [1]:
a=10

In [2]:
if a < 15:
    print('my name is vijit')

my name is vijit

In [3]:
if 10<2:
    print('10 is less than 2')
else:
    print('statement is wrong')

statement is wrong

In [7]:
income=int(input('enter income--'))
if income<50:
    print(' i will buy phone')
elif income<70:
    print('i will able to buy car')
elif income<90:
    print('i will be able to rent a house')
else:
    print('i will be able to buy any thing')

enter income--78
i will be able to rent a house

In [9]:
total_price=int(input())
if total_price > 20000:
    discount = total_price * .20
    print('discount will be',discount)
elif total_price > 7000:
    discount= total_price * .05
    print('this is discount',discount)
else:
    print('there will be no discount')

8000
this is discount 400.0

In [11]:
coup='SUDHANSHU5'
if coup=='SUDHANSHU5':
    discount= 7500*.05
    print('discount of 5%',discount,'paid_ammount',7500-discount)
else:
    print('no discount')

discount of 5% 375.0 paid_ammount 7125.0

In [12]:
study_hour=int(input())
if study_hour<2:
    print('it may take 8-9 month for transition')
elif study_hour<4 and study_hour>1:
    print('it may take 4-5 month for transition')
elif study_hour>10:
    print('it will take 3 month of time')
else:
    print('it will be difficult')

2
it may take 4-5 month for transition

In [15]:
s=input('enter a string to start--')
course=input('enter a course name--')
service=input('enter service you want--')
if s=='oneneuron':
    if course=='DSA':
        print('yes its avalible')
    elif course=='Blockchain':
        print('this is not avalible')
    elif course=='FSDS':
        print('yes it avalible')
    else:
        print('this course is not avalible kindly raise request')
elif s=='oneneuronservices':
    if service=="courserequest":
        print('raise demand')
    elif service=='Module':
        print('24 hrs')
    else:
        print('kindlu provide your feedback we will full fill')
else:
    print('kindly connect our team')

enter a string to start--ineuron
enter a course name--fsds
enter service you want--se
kindly connect our team

# For loop

In [16]:
l=[1,2,3,4,5]

In [17]:
for i in l:
    print(i)

1
2
3
4
5

In [18]:
t=(1,2,3,4,5,6)

In [38]:
l=[1,4,5.6,4+5j,'sudh']
for i in l:
    print(type(i),i)

<class 'int'> 1
<class 'int'> 4
<class 'float'> 5.6
<class 'complex'> (4+5j)
<class 'str'> sudh

In [39]:
l2=[]
for i in l :
    if type(i)==str:
        l2.append(i+'2')
    else:
        l2.append(i+2)
l2

[3, 6, 7.6, (6+5j), 'sudh2']

In [40]:
l=[2,45,78,'viji',4+5j,[1,5,6]]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                l1.append(j)
l1

[2, 45, 78, 1, 5, 6]

In [59]:
l=[2,45,78,12,'sudh',6+5j,[2,5,6,'kumar']]
l1=[]
l2=[]
for i in range(len(l)):
    print('index of l',i,l[i])
for i in l:
    if type(i)==str:
        l1.extend(i)
    elif type(i)==list:
        for j in i:
            if type(j)==str:
                l1.extend(j)
    if type(i)==int:
        l2.append(i**2)
    elif type(i)==list:
        for p in i:
            if type(p)==int:
                l2.append(p**2)
print(l1)
print(l2)

index of l 0 2
index of l 1 45
index of l 2 78
index of l 3 12
index of l 4 sudh
index of l 5 (6+5j)
index of l 6 [2, 5, 6, 'kumar']
['s', 'u', 'd', 'h', 'k', 'u', 'm', 'a', 'r']
[4, 2025, 6084, 144, 4, 25, 36]

In [60]:
for i in range(len(l)):
    print('index of l',i,l[i])

index of l 0 2
index of l 1 45
index of l 2 78
index of l 3 12
index of l 4 sudh
index of l 5 (6+5j)
index of l 6 [2, 5, 6, 'kumar']

In [62]:
for i in enumerate(l):
    print(i)
#enumerate is used to give index as well as element in tuple

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'sudh')
(5, (6+5j))
(6, [2, 5, 6, 'kumar'])

# For Else

In [5]:
l=['name','phoneno','email','address']

In [2]:
for i in l:
    print(i)
else:
    print('if for loop is going to complete itself then it will come to else')

name
phoneno
email
address
if for loop is going to complete itself then it will come to else

In [7]:
for i in l:
    if i=='email':
        break
    print(i)
else:
    print('check the statement')

name
phoneno

# while loop

In [12]:
a = 1
while a<6:
    print(a)
    a=a+1

1
2
3
4
5

In [19]:
a = 1 
while a<8:
    print(a)
    if a==4:
        break
    a=a+1

1
2
3
4

In [23]:
a = 1
while a < 5:
    print(a)
    a = a + 1
    if a==3:
        continue

1
2
3
4

In [24]:
while a<5:
    pass

In [25]:
a = range(10)

In [27]:
a.count(2)

1

In [28]:
a

range(0, 10)

In [1]:
n=1
while n < 7:
    for i in range(n):
        print('* ',end='')
    print()
    n=n+1

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [50]:
n=int(input('enter a number--'))
for i in range(0,n):
    for j in range(i+1):
        print('* ',end='')
    print('\r')

enter a number--5
*
* *
* * *
* * * *
* * * * *

In [36]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [42]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [59]:
t=(7,7,5,8)

In [52]:
for i in t:
    print(t[::-1])

(4, 3, 2, 1)
(4, 3, 2, 1)
(4, 3, 2, 1)
(4, 3, 2, 1)

In [54]:
t[::-1]

(4, 3, 2, 1)

In [55]:
d={'a':'viji','b':45}

In [57]:
for i in d.items():
    print(i)

('a', 'viji')
('b', 45)