# Import lib

In [1]:
import csv
import pandas as pd
import mysql.connector as conn
from mysql.connector import Error

# Converting CSV  into  DataFrame

In [10]:
msc = pd.read_csv("mcs_ds_edited_iter_shuffled.csv", index_col=False,delimiter=",")
msc

     anchor_ratio  trans_range  node_density  iterations       ale    sd_ale
0              30           15           200          40  0.773546  0.250555
1              15           15           100          70  0.911941  0.498329
2              30           15           100          50  0.814867  0.255546
3              15           20           100          20  1.435332  0.394603
4              30           15           100          40  1.265909  0.302943
..            ...          ...           ...         ...       ...       ...
102            18           23           100          20  1.287472  0.375227
103            14           17           200          60  0.899102  0.231822
104            15           20           100          50  1.171140  0.372001
105            20           20           100          40  1.234493  0.599834
106            15           15           200          40  0.635426  0.139791

[107 rows x 6 columns]

# Connection & Database

In [3]:
try :
    mydb = conn.connect(host ="localhost", user = "root", passwd = "Vijit699@")
    if mydb.is_connected():
        cur = mydb.cursor()
        cur.execute("CREATE DATABASE IF NOT EXISTS mcs")
        print("Database Created")
except Exception as e:
    print(e)

Database Created

# Creating table and inserting values

In [8]:
cur.execute("DROP TABLE mcs.mcsdata")
cur.execute("CREATE TABLE IF NOT EXISTS mcs.mcsdata(anchor_ratio INT(25),trans_range INT(25),node_density INT(25),iterations INT(25),ale FLOAT(40,15),sd_ale FLOAT(40,15))")

In [11]:
try:
    for i,rows in msc.iterrows():
        sql = "INSERT INTO mcs.mcsdata VALUES(%s,%s,%s,%s,%s,%s)"
        cur.execute(sql,tuple(rows))
        mydb.commit()
    print("data is inserted")
except Exception as e:
    print(e)

data is inserted