In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('ineuron.db')

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B48C-87E8

 Directory of C:\Users\vijit kumar\Desktop\i neuron full stack data science 2021\python\DATABASE\SQL_Lite

20-02-2022  10:39    <DIR>          .
20-02-2022  10:14    <DIR>          ..
20-02-2022  10:17    <DIR>          .ipynb_checkpoints
20-02-2022  10:38             8,192 ineuron.db
20-02-2022  10:39                 0 ineuron.db-journal
20-02-2022  10:38             2,014 SQL_Lite.ipynb
               3 File(s)         10,206 bytes
               3 Dir(s)  111,699,755,008 bytes free

In [5]:
c = db.cursor()

In [6]:
c.execute('create table fsds(name text,batchid int,marks real)')

In [7]:
c.execute('insert into fsds values("sudh",3545,454.67)')

In [10]:
c.execute('insert into fsds values("sudh",3545,454.67)')
c.execute('insert into fsds values("sudh",3545,454.67)')
c.execute('insert into fsds values("sudh",3545,454.67)')

In [11]:
c.execute('insert into fsds values("sudh",3545,454.67)')
c.execute('insert into fsds values("sudh",3545,454.67)')
c.execute('insert into fsds values("sudh",3545,454.67)')
c.execute('insert into fsds values("sudh",3545,454.67)')
c.execute('insert into fsds values("sudh",3545,454.67)')

In [14]:
d =c.execute('select * from fsds')

In [15]:
for i in d:
    print(i)

('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)

In [16]:
db.commit()

In [17]:
db.close()

In [18]:
db = sqlite3.connect('ineuron.db')

In [19]:
c = db.cursor()

In [21]:
data = c.execute('select * from fsds where marks >400')

In [22]:
for i in data:
    print(i)

('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)

In [23]:
d = c.execute('select * from fsds order by marks')

In [24]:
for i in d:
    print(i)

('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)
('sudh', 3545, 454.67)

In [25]:
db.close()

In [26]:
db = sqlite3.connect('person.db')

In [27]:
c = db.cursor()

In [28]:
c.execute('create table person_table(name text , email text,id int,salary real )')

In [30]:
c.execute('insert into person_table values("vijit","vijitkumar1245@gmail.com",2422,400000)')

In [31]:
for i in c.execute('select * from person_table'):
    print(i)

('vijit', 'vijitkumar1245@gmail.com', 2422, 400000.0)

In [32]:
db.commit()
db.close()

In [44]:
db = sqlite3.connect('person.db')

In [45]:
c = db.cursor()

In [46]:
c.execute('drop db person')

OperationalError: near "db": syntax error

In [47]:
db.close()

# join op

In [48]:
db = sqlite3.connect('jodb.db')

In [49]:
c = db.cursor()

In [42]:
c.execute("create table student(student_id int,student_name text,student_mail text,marks int)")

In [43]:
c.execute('create table address(student_id int,pincode text,location text,ph_no int)')

In [51]:
c.execute('insert into student values(234,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(235,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(236,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(237,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(238,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(239,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(2310,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(2311,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(2312,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(2313,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(2314,"vijit","viji55@gmail.com",245)')
c.execute('insert into student values(2315,"vijit","viji55@gmail.com",245)')

In [53]:
c.execute("insert into address values(235,'53142','dbhn',245324534)")

In [55]:
c.execute("insert into address values(236,'53142','dbhn',245324534)")
c.execute("insert into address values(237,'53142','dbhn',245324534)")
c.execute("insert into address values(238,'53142','dbhn',245324534)")
c.execute("insert into address values(239,'53142','dbhn',245324534)")
c.execute("insert into address values(2310,'53142','dbhn',245324534)")
c.execute("insert into address values(2311,'53142','dbhn',245324534)")
c.execute("insert into address values(2312,'53142','dbhn',245324534)")
c.execute("insert into address values(2313,'53142','dbhn',245324534)")
c.execute("insert into address values(2314,'53142','dbhn',245324534)")
c.execute("insert into address values(2315,'53142','dbhn',245324534)")
c.execute("insert into address values(2316,'53142','dbhn',245324534)")
c.execute("insert into address values(2317,'53142','dbhn',245324534)")
c.execute("insert into address values(2318,'53142','dbhn',245324534)")
c.execute("insert into address values(2319,'53142','dbhn',245324534)")
c.execute("insert into address values(2320,'53142','dbhn',245324534)")
c.execute("insert into address values(2321,'53142','dbhn',245324534)")
c.execute("insert into address values(2322,'53142','dbhn',245324534)")
c.execute("insert into address values(2323,'53142','dbhn',245324534)")
c.execute("insert into address values(2324,'53142','dbhn',245324534)")
c.execute("insert into address values(2325,'53142','dbhn',245324534)")
c.execute("insert into address values(2326,'53142','dbhn',245324534)")

In [56]:
d = c.execute('select * from address')

In [57]:
for i in d :
    print(i)

(235, '53142', 'dbhn', 245324534)
(235, '53142', 'dbhn', 245324534)
(236, '53142', 'dbhn', 245324534)
(237, '53142', 'dbhn', 245324534)
(238, '53142', 'dbhn', 245324534)
(239, '53142', 'dbhn', 245324534)
(2310, '53142', 'dbhn', 245324534)
(2311, '53142', 'dbhn', 245324534)
(2312, '53142', 'dbhn', 245324534)
(2313, '53142', 'dbhn', 245324534)
(2314, '53142', 'dbhn', 245324534)
(2315, '53142', 'dbhn', 245324534)
(2316, '53142', 'dbhn', 245324534)
(2317, '53142', 'dbhn', 245324534)
(2318, '53142', 'dbhn', 245324534)
(2319, '53142', 'dbhn', 245324534)
(2320, '53142', 'dbhn', 245324534)
(2321, '53142', 'dbhn', 245324534)
(2322, '53142', 'dbhn', 245324534)
(2323, '53142', 'dbhn', 245324534)
(2324, '53142', 'dbhn', 245324534)
(2325, '53142', 'dbhn', 245324534)
(2326, '53142', 'dbhn', 245324534)

In [58]:
for i in c.execute('select * from student'):
    print(i)

(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(235, 'vijit', 'viji55@gmail.com', 245)
(236, 'vijit', 'viji55@gmail.com', 245)
(237, 'vijit', 'viji55@gmail.com', 245)
(238, 'vijit', 'viji55@gmail.com', 245)
(239, 'vijit', 'viji55@gmail.com', 245)
(2310, 'vijit', 'viji55@gmail.com', 245)
(2311, 'vijit', 'viji55@gmail.com', 245)
(2312, 'vijit', 'viji55@gmail.com', 245)
(2313, 'vijit', 'viji55@gmail.com', 245)
(2314, 'vijit', 'viji55@gmail.com', 245)
(2315, 'vijit', 'viji55@gmail.com', 245)

In [59]:
d = c.execute('select * from student s left join address a on s.student_id = a.student_id')

In [60]:
for i in d :
    print(i)

(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(234, 'vijit', 'viji55@gmail.com', 245, None, None, None, None)
(235, 'vijit', 'viji55@gmail.com', 245, 235, '53142', 'dbhn', 245324534)
(235, 'vijit', 'viji55@gmail.com', 245, 235, '53142', 'dbhn', 245324534)
(236, 'vijit', 'viji55@gmail.com', 245, 236, '53142', 'dbhn', 245324534)
(237, 'vijit', 'viji55@gmail.com', 245, 237, '53142', 'dbhn', 245324534)
(238, 'vijit', 'viji55@gmail.com', 245, 238, '53142', 'dbhn', 245324534)
(239, 'vijit', 'viji55@gmail.com', 245, 239, '53142', 'dbhn', 245324534)
(2310, 'vijit', 'viji55@gmail.com', 245, 2310, '53142', 'dbhn', 245324534)
(2311, 'vijit', 'viji55@gmail.com', 245, 2311, '53142', 'dbhn', 245324534)
(2312, 'vijit', 'viji55@gmail.com', 245, 2312, '53142', 'dbhn', 245324534)
(2313, 'vijit', 'viji55@gmail.com', 245, 2313, '53142', 'dbhn', 245324534)
(2314, 'vijit', 'viji55@gmail.com', 245, 2314, '53142', 'dbhn', 245324534)
(2315, 'vijit', 'viji55@gmail.com', 245, 2315, '53142', 'dbhn', 245324534)

In [61]:
d = c.execute('select * from student s left join address a on s.student_id = a.student_id where a.student_id is not null')

In [62]:
for i in d :
    print(i)

(235, 'vijit', 'viji55@gmail.com', 245, 235, '53142', 'dbhn', 245324534)
(235, 'vijit', 'viji55@gmail.com', 245, 235, '53142', 'dbhn', 245324534)
(236, 'vijit', 'viji55@gmail.com', 245, 236, '53142', 'dbhn', 245324534)
(237, 'vijit', 'viji55@gmail.com', 245, 237, '53142', 'dbhn', 245324534)
(238, 'vijit', 'viji55@gmail.com', 245, 238, '53142', 'dbhn', 245324534)
(239, 'vijit', 'viji55@gmail.com', 245, 239, '53142', 'dbhn', 245324534)
(2310, 'vijit', 'viji55@gmail.com', 245, 2310, '53142', 'dbhn', 245324534)
(2311, 'vijit', 'viji55@gmail.com', 245, 2311, '53142', 'dbhn', 245324534)
(2312, 'vijit', 'viji55@gmail.com', 245, 2312, '53142', 'dbhn', 245324534)
(2313, 'vijit', 'viji55@gmail.com', 245, 2313, '53142', 'dbhn', 245324534)
(2314, 'vijit', 'viji55@gmail.com', 245, 2314, '53142', 'dbhn', 245324534)
(2315, 'vijit', 'viji55@gmail.com', 245, 2315, '53142', 'dbhn', 245324534)

In [63]:
d = c.execute('select * from student s inner join address a on s.student_id = a.student_id')

In [64]:
for i in d:
    print(i)

(235, 'vijit', 'viji55@gmail.com', 245, 235, '53142', 'dbhn', 245324534)
(235, 'vijit', 'viji55@gmail.com', 245, 235, '53142', 'dbhn', 245324534)
(236, 'vijit', 'viji55@gmail.com', 245, 236, '53142', 'dbhn', 245324534)
(237, 'vijit', 'viji55@gmail.com', 245, 237, '53142', 'dbhn', 245324534)
(238, 'vijit', 'viji55@gmail.com', 245, 238, '53142', 'dbhn', 245324534)
(239, 'vijit', 'viji55@gmail.com', 245, 239, '53142', 'dbhn', 245324534)
(2310, 'vijit', 'viji55@gmail.com', 245, 2310, '53142', 'dbhn', 245324534)
(2311, 'vijit', 'viji55@gmail.com', 245, 2311, '53142', 'dbhn', 245324534)
(2312, 'vijit', 'viji55@gmail.com', 245, 2312, '53142', 'dbhn', 245324534)
(2313, 'vijit', 'viji55@gmail.com', 245, 2313, '53142', 'dbhn', 245324534)
(2314, 'vijit', 'viji55@gmail.com', 245, 2314, '53142', 'dbhn', 245324534)
(2315, 'vijit', 'viji55@gmail.com', 245, 2315, '53142', 'dbhn', 245324534)

In [65]:
d = c.execute('select * from address s left join student a on s.student_id = a.student_id')

In [66]:
for i in d:
    print(i)

(235, '53142', 'dbhn', 245324534, 235, 'vijit', 'viji55@gmail.com', 245)
(235, '53142', 'dbhn', 245324534, 235, 'vijit', 'viji55@gmail.com', 245)
(236, '53142', 'dbhn', 245324534, 236, 'vijit', 'viji55@gmail.com', 245)
(237, '53142', 'dbhn', 245324534, 237, 'vijit', 'viji55@gmail.com', 245)
(238, '53142', 'dbhn', 245324534, 238, 'vijit', 'viji55@gmail.com', 245)
(239, '53142', 'dbhn', 245324534, 239, 'vijit', 'viji55@gmail.com', 245)
(2310, '53142', 'dbhn', 245324534, 2310, 'vijit', 'viji55@gmail.com', 245)
(2311, '53142', 'dbhn', 245324534, 2311, 'vijit', 'viji55@gmail.com', 245)
(2312, '53142', 'dbhn', 245324534, 2312, 'vijit', 'viji55@gmail.com', 245)
(2313, '53142', 'dbhn', 245324534, 2313, 'vijit', 'viji55@gmail.com', 245)
(2314, '53142', 'dbhn', 245324534, 2314, 'vijit', 'viji55@gmail.com', 245)
(2315, '53142', 'dbhn', 245324534, 2315, 'vijit', 'viji55@gmail.com', 245)
(2316, '53142', 'dbhn', 245324534, None, None, None, None)
(2317, '53142', 'dbhn', 245324534, None, None, None, None)
(2318, '53142', 'dbhn', 245324534, None, None, None, None)
(2319, '53142', 'dbhn', 245324534, None, None, None, None)
(2320, '53142', 'dbhn', 245324534, None, None, None, None)
(2321, '53142', 'dbhn', 245324534, None, None, None, None)
(2322, '53142', 'dbhn', 245324534, None, None, None, None)
(2323, '53142', 'dbhn', 245324534, None, None, None, None)
(2324, '53142', 'dbhn', 245324534, None, None, None, None)
(2325, '53142', 'dbhn', 245324534, None, None, None, None)
(2326, '53142', 'dbhn', 245324534, None, None, None, None)

In [67]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B48C-87E8

 Directory of C:\Users\vijit kumar\Desktop\i neuron full stack data science 2021\python\DATABASE\SQL_Lite

20-02-2022  11:42    <DIR>          .
20-02-2022  10:14    <DIR>          ..
20-02-2022  10:17    <DIR>          .ipynb_checkpoints
20-02-2022  10:43             8,192 ineuron.db
20-02-2022  11:18            12,288 jodb.db
20-02-2022  11:21                 0 jodb.db-journal
20-02-2022  11:03                 0 person
20-02-2022  11:03             8,192 person.db
20-02-2022  11:42            26,743 SQL_Lite.ipynb
               6 File(s)         55,415 bytes
               3 Dir(s)  111,296,925,696 bytes free

In [72]:
for i in c.execute("select * from student"):
    print(i)

(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(234, 'vijit', 'viji55@gmail.com', 245)
(235, 'vijit', 'viji55@gmail.com', 245)
(1000, 'vijit', 'viji55@gmail.com', 245)
(237, 'vijit', 'viji55@gmail.com', 245)
(238, 'vijit', 'viji55@gmail.com', 245)
(239, 'vijit', 'viji55@gmail.com', 245)

In [69]:
c.execute('delete from  student where student_id >= 2000 ')

In [71]:
c.execute('update student set student_id = 1000 where student_id = 236 ')

In [75]:
db.close()